<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yuk_belajarwiki.yukbelajarfd">

    <application
        android:allowBackup="@xml/backup_descriptor"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".Homepage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".tawal_note" />
        <activity android:name=".Note_write" />
        <activity android:name=".maretipengertian" />
        <activity android:name=".materiFull" />
        <activity android:name=".materipartially" />
        <activity android:name=".materitransitive" />
        <activity android:name=".contohpengertian" />
        <activity android:name=".contohfull" />
        <activity android:name=".contohpartially" />
        <activity android:name=".contohtransitive"></activity>
    </application>

</manifest>